@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #212121;


    .global-text {
        background: linear-gradient(45deg, #87ceeb, #32d583, #ff6f61);
        background-clip: text;
        color: transparent;
    }

}

img {
    width: 30%;
    height: auto;
    border-radius: 50%;

    @include media("md") {
        width: 15%;
    }
}

.pop {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    text-transform: capitalize;
    box-shadow: 0px 0px 7px #32d583;
    opacity: 0;
    transition: all .3s ease-in-out;

}

.open {
    opacity: 1;
    top: 10%;
}

.logout {

    .logout-confirm {
        box-shadow: 0px 0px 10px grey;
        position: relative;
        padding: 15px;

        .back-from-logout {
            position: absolute;
            right: 0;
            top: -30%;
            border: none;
            background-color: transparent;
            color: #ff6f61;
            font-size: 25px;
            cursor: pointer;
            padding: 5px;

        }

        h2 {
            text-align: center;
        }

        p {
            color: white;
            padding: 10px 10px 15px;
        }

        .btn {
            display: flex;
            justify-content: center;
            gap: 25px;


            button {
                padding: 5px 10px;
                border: none;
                background-color: red;
                color: white;
                font-size: 20px;
                text-transform: capitalize;
                cursor: pointer;

            }
        }
    }
}

.loading-login {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .loading-message {

        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        .dots {
            display: inline-flex;
            margin-left: 8px;

            span {

                animation: blink 1.4s infinite both;
                font-weight: 700;
                font-size: 1.5rem;
                color: #ff6f61;
                opacity: 0.3;
                margin-left: 3px;

                &:nth-child(1) {
                    animation-delay: 0s;
                }

                &:nth-child(2) {
                    animation-delay: 0.2s;
                }

                &:nth-child(3) {
                    animation-delay: 0.4s;
                }
            }
        }

        @keyframes blink {

            0%,
            20% {
                opacity: 0.3;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0.3;
            }
        }

    }
}

.header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 13px;
        box-shadow: 0px 0px 10px grey;

        @include media("sm") {
            padding: 15px;
        }

        a {
            display: flex;
            align-items: center;
            gap: 7px;
            text-decoration: none;
            font-size: 15px;
            font-weight: 1000;
            text-transform: capitalize;
            letter-spacing: .5px;

            @include media("sm") {
                font-size: 17px;
            }

            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 7px;
            }

        }

        button {
            border-radius: 15px;
            border: none;
            outline: none;
            padding: 0px 7px;
            font-size: 13px;
            letter-spacing: .4px;
            font-weight: 700;
            text-transform: capitalize;
            cursor: pointer;
        }
    }
}

.container {
    padding-top: 95px;

    .search {

        .icon {
            text-align: end;
            padding-right: 20px;

            i {
                border-radius: 50%;
                background-color: black;
                color: white;
                padding: 4px 8px;
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    background-color: gray;
                }
            }
        }

        .overlays {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(5px);
            opacity: 0;
            transition: all 0.3s ease-in-out;
            z-index: 9998;
            pointer-events: none;
        }

        .overlays.show-overlay {
            opacity: 1;
            pointer-events: all;
        }

        .search-history {
            position: fixed;
            color: white;
            top: -100%;
            opacity: 0;
            right: 0;
            width: 75%;
            height: 100vh;
            padding: 40px 25px 10px;
            background-color: black;
            z-index: 9999;
            box-shadow: 0px 0px 10px lightpink;
            transition: all .3s ease-in-out;
            overflow: auto;
            scrollbar-width: none;

            @include media("sm") {
                width: 53%;
            }

            @include media("md") {
                width: 35%;
            }

            @include media("lg") {
                width:25%;
            }

            .history {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid #87ceeb;
                letter-spacing: 1px;
                padding-bottom: 5px;

                .btn {
                    border: none;
                    background-color: transparent;
                    color: #ff6f61;
                    font-size: 20px;
                    cursor: pointer;
                    padding: 5px;

                }
            }

            .clear-history {
                text-align: end;
                text-decoration: underline;
                padding: 20px 8px;
                cursor: pointer;
                letter-spacing: .4px;

            }

            .no-searched-cities {
                font-size: 20px;
            }

            .searched-cities {
                list-style-type: none;

                .cities {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-transform: capitalize;
                    font-size: 20px;
                    margin-bottom: 15px;

                    &:hover {

                        .btn {

                            @include media("sm") {
                                display: block;
                            }
                        }
                    }

                    .btn {
                        background-color: transparent;
                        border: none;
                        color: #ff6f61;
                        font-size: 20px;
                        display: block;
                        cursor: pointer;

                        @include media("sm") {
                            display: none;
                        }
                    }
                }
            }
        }

        .show-history {
            opacity: 1;
            top: 0;
        }

    }

    .input-search {
        text-align: center;
        margin-top: 20px;

        input {
            width: 45%;
            padding: 13px;
            border: 1px solid #32d583;
            background-color: black;
            margin-right: 5px;
            font-size: 17px;
            color: white;
            outline: none;
            letter-spacing: .5px;
            text-transform: capitalize;

            @media screen and (min-width:768px) {
                width: 30%;
            }

        }

        button {
            padding: 12px;
            border: none;
            outline: none;
            background: linear-gradient(45deg, #87ceeb, #32d583, #ff6f61);
            border: 1px solid #32d583;
            font-size: 17px;
            color: white;
            font-weight: 700;
            text-transform: capitalize;
            cursor: pointer;

            &:hover {
                background: linear-gradient(145deg, #32d583, #87ceeb, #ff6f61);
            }
        }

    }

    .weather {
        width: 85%;
        margin: 80px auto 30px;
        box-shadow: 0px 0px 10px grey;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        color: white;
        text-align: center;

        @include media('sm') {
            flex-direction: row;
            gap: 15px;
        }

        @include media('md') {
            width: 70%;
        }

        .weather-img {
            flex-basis: 10%;
            line-height: 1.4px;

            img {
                width: 55%;
                height: 55%;
                object-fit: contain;
            }

            @include media("sm") {
                flex-basis: 30%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                }
            }
        }

        .weather-details {
            flex: 1;
            text-transform: capitalize;
            letter-spacing: 1.4px;

            h2 {
                text-align: center;
                margin-bottom: 15px;
                padding: 10px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 1px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 95%;
                    height: 1px;
                    background-color: #ff6f61;

                    @include media("lg"){
                        width:80%;
                    }
                }
            }

            p {
                text-transform: capitalize;
                padding-bottom: 5px;
                font-size: 15px;

                @include media('sm') {
                    font-size: 17px;
                }

                @include media('md') {
                    font-size: 18px;
                }

                span {
                    background: linear-gradient(45deg, #87ceeb, #32d583, #ff6f61);
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }

    .not-found {
        text-align: center;
        margin: 30px;
        font-size: 20px;
        text-transform: capitalize;
    }

}