@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #212121;
}
body .global-text {
  background: linear-gradient(45deg, #87ceeb, #32d583, #ff6f61);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

img {
  width: 30%;
  height: auto;
  border-radius: 100%;
}

.pop {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  color: white;
  text-transform: capitalize;
  box-shadow: 0px 0px 7px #32d583;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.open {
  opacity: 1;
  top: 10%;
}

.logout .logout-confirm {
  box-shadow: 0px 0px 10px grey;
  position: relative;
  padding: 15px;
}
.logout .logout-confirm .back-from-logout {
  position: absolute;
  right: 0;
  top: -30%;
  border: none;
  background-color: transparent;
  color: #ff6f61;
  font-size: 25px;
  cursor: pointer;
  padding: 5px;
}
.logout .logout-confirm h2 {
  text-align: center;
}
.logout .logout-confirm p {
  color: white;
  padding: 10px 10px 15px;
}
.logout .logout-confirm .btn {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.logout .logout-confirm .btn button {
  padding: 5px 10px;
  border: none;
  background-color: red;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
}

.loading-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loading-login .loading-message {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.loading-login .loading-message .dots {
  display: inline-flex;
  margin-left: 8px;
}
.loading-login .loading-message .dots span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ff6f61;
  opacity: 0.3;
  margin-left: 3px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.loading-login .loading-message .dots span:nth-child(1) {
  animation-delay: 0s;
}
.loading-login .loading-message .dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-login .loading-message .dots span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0%, 20% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 0px 10px grey;
}
.header .nav a {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 1000;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.header .nav a img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}
.header .nav button {
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 0px 7px;
  font-size: 13px;
  letter-spacing: 0.4px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}

.container {
  padding-top: 95px;
}
.container .search .icon {
  text-align: end;
  padding-right: 20px;
}
.container .search .icon i {
  border-radius: 50%;
  background-color: black;
  color: white;
  padding: 4px 8px;
  font-size: 20px;
  cursor: pointer;
}
.container .search .icon i:hover {
  background-color: gray;
}
.container .search .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 9998;
  pointer-events: none;
}
.container .search .overlay.show-overlay {
  opacity: 1;
  pointer-events: all;
}
.container .search .search-history {
  position: fixed;
  color: white;
  top: -100%;
  opacity: 0;
  right: 0;
  width: 53%;
  height: 100vh;
  padding: 40px 25px 10px;
  background-color: black;
  z-index: 9999;
  box-shadow: 0px 0px 10px lightpink;
  transition: all 0.3s ease-in-out;
  overflow: auto;
  scrollbar-width: none;
}
.container .search .search-history .history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #87ceeb;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.container .search .search-history .history .btn {
  border: none;
  background-color: transparent;
  color: #ff6f61;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}
.container .search .search-history .clear-history {
  text-align: end;
  text-decoration: underline;
  padding: 20px 8px;
  cursor: pointer;
  letter-spacing: 0.4px;
}
.container .search .search-history .no-searched-cities {
  font-size: 20px;
}
.container .search .search-history .searched-cities {
  list-style-type: none;
}
.container .search .search-history .searched-cities .cities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 15px;
}
.container .search .search-history .searched-cities .cities:hover .btn {
  display: block;
}
.container .search .search-history .searched-cities .cities .btn {
  background-color: transparent;
  border: none;
  color: #ff6f61;
  font-size: 20px;
  display: none;
  cursor: pointer;
}
.container .search .show-history {
  opacity: 1;
  top: 0;
}
.container .input-search {
  text-align: center;
  margin-top: 20px;
}
.container .input-search input {
  width: 45%;
  padding: 13px;
  border: 1px solid #32d583;
  background-color: black;
  margin-right: 5px;
  font-size: 17px;
  color: white;
  outline: none;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .container .input-search input {
    width: 30%;
  }
}
.container .input-search button {
  padding: 12px;
  border: none;
  outline: none;
  background: linear-gradient(45deg, #87ceeb, #32d583, #ff6f61);
  border: 1px solid #32d583;
  font-size: 17px;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}
.container .input-search button:hover {
  background: linear-gradient(145deg, #32d583, #87ceeb, #ff6f61);
}
.container .weather {
  width: 85%;
  margin: 80px auto 30px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  padding: 20px;
  color: white;
}
@media (min-width: 768px) {
  .container .weather {
    width: 70%;
  }
}
.container .weather .weather-img {
  flex-basis: 30%;
  line-height: 1.4px;
}
.container .weather .weather-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .weather .weather-details {
  flex: 1;
  text-transform: capitalize;
  letter-spacing: 1.4px;
}
.container .weather .weather-details h2 {
  text-align: center;
  border-bottom: 2px solid #ff6f61;
  margin-bottom: 15px;
  padding: 10px;
}
.container .weather .weather-details p {
  text-transform: capitalize;
  padding-bottom: 5px;
  font-size: 17px;
}
@media (min-width: 768px) {
  .container .weather .weather-details p {
    font-size: 20px;
    font-weight: 700;
    padding-left: 150px;
  }
}
.container .weather .weather-details p span {
  background: linear-gradient(45deg, #87ceeb, #32d583, #ff6f61);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.container .not-found {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  text-transform: capitalize;
}/*# sourceMappingURL=app.css.map */